$pri:    #ff6a56;
$sec:    #00dea3;
$yellow: #fea300;
$pink:   #ff3a81;
$purple: #9648de;
$blue:   #15a6f8;
$red:    #d90d3e;
$green:  #2ecc71;
$tan:    #d2b48c;
$coral:  #ff7f50; 

$text:   #513c6a;
$dark:   #392759;
$darkblue: #321B52;
$white:  #ffffff;
$g_00:   #f9fafc;
$g_01:   #f5f6fa;
$g_02:   #f0f0f9;
$g_03:   #ebebf9;
$g_04:   #dedeeb;
$g_05:   #cccede;
$g_06:   #bbbdd6;
$g_07:   #abadc8;
$g_08:   #878bba;
