@import '_var';

// Mixins
@mixin center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
// - - - - - - - - - - - - - - - - - - -
.weather-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'cera-m';
  gap: 24px;
}
// - - - - - - - - - - - - - - - - - - - 
.info-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: 'cera-m';
  gap: 16px;
  width: 100%;
  max-width: 640px;
}
// - - - - - - - - - - - - - - - - - - - 
.date-box {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  font-family: 'cera-m';
}
.location-box {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  font-family: 'cera-m';
}
// - - - - - - - - - - - - - - - - - - - 
.temperature-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'outfit-r';
  gap: 8px;
  
  .temp {
    font-size: 120px;
    line-height: 90%;
  }
  .max-min {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-size: 32px;
    font-family: 'outfit-m';
  }

  span{
    color: transparent;
  }
}
// - - - - - - - - - - - - - - - - - - - 
.weather-info-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'cera-m';
  gap: 16px;

  .info-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'outfit-m';

    .icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      svg{
        width: 40px;
        height: 40px;
        stroke-width: 1.5px;
      }
    }
  }
  .name-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 4px;
    font-size: 20px;
    span{
      font-size: 16px
    }
  }
}
// - - - - - - - - - - - - - - - - - - - 
.condition-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  font-family: 'cera-m';
  gap: 16px;

  .weather-icon{
    width: 120px;
    height: 120px;
    stroke-width: 1px;
  }
}
// - - - - - - - - - - - - - - - - - - - 
.forecast-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'cera-m';
  gap: 16px;

 .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-family: 'outfit-m';
    
   .icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      svg{
        width: 40px;
        height: 40px;
        stroke-width: 1.5px;
      }
    }
   .condition{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: end;
      font-size: 16px;

      span{
        font-size: 16px
      } 
      .weather-icon{
        width: 44px;
        height: 44px;
        svg{
          stroke-width: 1.4px;
        }
      }
   }
   .temp{
      font-size: 20px;
   }
 }
}
// - - - - - - - - - - - - - - - - - - - 
// - - - - - - - - - - - - - - - - - - - 
.App {
  @include center-content;
  background-color: $pri;

  .App-header {
    color: white;
    
    .nav-buttons {
      button {
        background-color: $sec;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
