.location-grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px;
    width: 88%;
    max-width: 400px;
    background-color: aquamarine;

    .location-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
        border-radius: 10px;
        background-color: #F8F8FC;
        cursor: pointer;
        background-color: antiquewhite;
        
        &:active {
            cursor: grabbing;
        }

        .location-info {
            display: flex;
            flex-direction: column;
            align-items: start;

            .city {
                font-size: 20px;
            }

            .country {
                font-size: 16px;
            }
        }
    }

    .icon {
        width: 32px;
        height: 32px;
        color: #333444;
        stroke-width: 1.2px;
    }

    .delete-action {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        background-color: #ff4444;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        padding: 0 24px;
        border-radius: 0 10px 10px 0;
        
        svg {
            width: 32px;
            height: 32px;
            stroke: white;
            stroke-width: 1.2px;
        }
    }
}