.location-grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px;
    width: 90%;
    max-width: 400px;

    .location-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        border-radius: 10px;
        cursor: pointer;
        user-select: none;
        // align-self: start;
        
        .location-info {
            // position: relative;
            padding: 16px;
            background-color: #f1f1f6;
            border-radius: 10px;
            transition: transform 0.3s ease;
            z-index: 2;
            width: 100%;
            text-align: start;


            .city {
                font-size: 20px;
            }

            .country {
                font-size: 16px;
            }
        }

        .delete-action {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 72px;
            background-color: #ff4444;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 12px;
            z-index: 1;
            cursor: pointer;
            
            svg {
                width: 32px;
                height: 32px;
                stroke: white;
                stroke-width: 1.2px;
                pointer-events: none;
            }
        }
    }
}